h1 {
  text-align: center;
}

#grid {
  width: 800px;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  border: 1px solid black;
}

.cell {
  width: 8px;
  height: 8px;
}

.snake {
  background-color: black;
}

.ghost {
  background-color: gray;
}

.food {
  background-color: black;
}

.score-block{
  font-size: 30px;
  border: 0.1px solid black;
  height: 40px;
  width: 150px;
  margin: 2px auto;
  text-align: left;
  padding: 2px;
}