body{
  background-color: floralwhite;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 300;
}

#grid {
  width: 800px;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  border: 1px solid black;
  background-color: darkcyan;
}

.cell {
  width: 8px;
  height: 8px;
}

.snake {
  background-color: rgb(103, 27, 226);
  border-radius: 3px;
}

.snake-head{
  background-color: black;
  border-radius: 4px;
}

.ghost {
  background-color: darkgray;
}

.food {
  background-color: red;
  border-radius: 2px;
}

.score-block{
  font-size: 30px;
  border: 0.1px solid black;
  width: 150px;
  margin: 20px auto;
  text-align: center;
  padding: 5px;
  background-color: rgb(148, 245, 169);
}